@import "../../../variables";

.wrapper {
  height: 100%;
  width: 300px;
  background-color: $base-primary-light-color;
}

.title {
  box-sizing: border-box;
  padding: 5px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid $border-dark;

  &:hover {
    background-color: $base-secondary-light-color;
  }
}

@media only screen and (max-width: $break-ponit-m) {
  .wrapper {
    width: 60px;
  }

  .title {
    h2 {
      display: none;
    }
  }
}
