<div class="wrapper">
  <a class="title"
     routerLink="/">
    <h2>News Feed</h2>
    <app-avatar imageUrl="/assets/images/logo.png"
                variant="square"></app-avatar>

  </a>

  <a *ngFor="let user of $users | async"
     [routerLink]="['user',user.id]"
     class="nav-link"
     routerLinkActive="active-nave-item">
    <app-nav-item [user]="user"></app-nav-item>
  </a>

  <a [routerLink]="['user', 'all']"
     class="nav-link all"
     routerLinkActive="active-nave-item">
    <i class="fas fa-users"></i>
    All Friends
  </a>

</div>
