<a class="wrapper"
   routerLinkActive="active-feed-item"
   [routerLink]="['feed',feed.id]">

  <app-avatar [imageUrl]="getThumbUrl()"
              size="medium"
              variant="square"></app-avatar>

  <div class="title-wrapper">

    <div class="date-wrapper">

      <small [ngSwitch]="feed.type"
             class="feed-type-title">
        <ng-container *ngSwitchCase="'addedFriend'">
          New friend
        </ng-container>
        <ng-container *ngSwitchCase="'like'">
          New post
        </ng-container>
        <ng-container *ngSwitchCase="'upload'">
          New image
        </ng-container>
      </small>

      <app-date-time [date]="feed.createdAt">
        <small>{{feed.createdAt | date:'medium'}}</small>
      </app-date-time>

    </div>

    <p class="title"
       [ngSwitch]="feed.type">
      <ng-container *ngSwitchCase="'addedFriend'">
        <b>{{this.feed.owner.firstName}} {{this.feed.owner.lastName}}</b> added <b>{{this.feed.subject.firstName}}
          {{this.feed.subject.lastName}}</b> as a friend.
      </ng-container>
      <ng-container *ngSwitchCase="'like'">
        <b>{{this.feed.owner.firstName}} {{this.feed.owner.lastName}}</b> liked <b>{{this.feed.subject.firstName}}
          {{this.feed.subject.lastName}}</b> post.
      </ng-container>
      <ng-container *ngSwitchCase="'upload'">
        <b>{{this.feed.owner.firstName}} {{this.feed.owner.lastName}}</b> uploaded a new image.
      </ng-container>
    </p>
  </div>

  <div class="icon-wrapper">
    <i [class]="getIconClass()"></i>

    <button (click)="handleBookmark($event, true)"
            *ngIf="!feed.isBookmarked else isBookmarkedIcon"
            class="bookmark-button">
      <i class="far fa-bookmark"></i>
    </button>

    <ng-template #isBookmarkedIcon>
      <button (click)="handleBookmark($event,false)"
              class="bookmark-button">
        <i class="fas fa-bookmark"></i>
      </button>
    </ng-template>

  </div>
</a>
