@import "../../../variables";

.wrapper {
  display: flex;
  padding: 5px;
  align-items: center;
  cursor: pointer;
  transition-duration: 150ms;
  color: $dark-font-color;

  &:hover {
    background-color: $base-secondary-light-color;
  }
}

.title {
  margin: 0 0 0 10px;
}


@media only screen and (max-width: $break-ponit-m) {
  .title {
    display: none;
  }
}
