$base-font-size : 1.6rem;
$h1-font-size: 2.5;
$h2-font-size: 2.2;
$h3-font-size: 1.9;
$h4-font-size: 1.6;
$h5-font-size: 1.3;
$h6-font-size: 1;
$p-font-size: 1.6;


$white-font-color: #ffffff;
$dark-font-color: #192437;

$base-primary-light-color: #f4f6fa;
$base-secondary-light-color: #eceef0;

$base-primary-dark-color: #f4f6fa;
$base-secondary-dark-color: #2b2c34;

$border-dark: #f3f2f7;
$border-darker: #ebebf3;
$border-ratio: 10px;

$break-ponit-xs: 320px;
$break-ponit-s: 481px;
$break-ponit-m: 769px;
$break-ponit-l: 1025px;
$break-ponit-xl: 1201px;
