$white-font-color: #ffffff;
$dark-font-color: #192437;

$base-primary-light-color: #f4f6fa;
$base-secondary-light-color: #eceef0;

$base-primary-dark-color: #f4f6fa;
$base-secondary-dark-color: #2b2c34;


$border-dark: #000000;
$border-ratio: 10px;

$break-ponit-xs: 320px;
$break-ponit-s: 481px;
$break-ponit-m: 769px;
$break-ponit-l: 1025px;
$break-ponit-xl: 1201px;
